.grid {
  display: grid;
}

.grid-cols-2 {
  grid-template-columns: 1fr 1fr;
}

.centered-text {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh; /* You may adjust this based on your layout needs */
  font-size: 24px; /* Adjust the font size as needed */
  font-weight: bold; /* Adjust the font weight as needed */
}
.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}

.input-field {
  margin: 8px 0;
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.signup-button {
  margin: 8px 0;
  padding: 10px;
  width: 100%;
  background-color: #009688; /* Paytm's brand color; you may adjust it */

  border: none;
  border-radius: 5px;
  cursor: pointer;
}

p {
  margin-top: 16px;
  font-size: 14px;
}

p span {
  color: #009688; /* Paytm's brand color; you may adjust it */
  cursor: pointer;
}

/* Additional styles can be added as needed */
